<div class="form-layout">
    <div class="form">
        <h1>Form</h1>
        <hr />
        <div>
            <label>First Name:</label>
            <span class="first-name"></span>
        </div>
        <div>
            <label>Last Name:</label>
            <span class="last-name"></span>
        </div>
        <div>
            <label>Gender:</label>
            <span class="gender"></span>
        </div>
        <div>
            <label>Email:</label>
            <span class="email"></span>
        </div>
        <div>
            <label>Phone:</label>
            <span class="phone"></span>
        </div>
        <div>
            <label></label>
            <span class="submit-form">
        </div>
    </div>
    <div class="response">

        <h1>Response</h1>
        <hr />
        <div class="content"></div>
    </div>
</div>